@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
    background: #5470B0;
  }
}

.app {
  margin: 10px 20px 0 20px
}

.row {
  margin: 20px 0px 0px 0px
}

.col-sm-8, .col-sm-3 {
  padding: 5px 0px 5px 0px;
  margin: 5px 0px 5px 0px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.col-sm-3 {
  animation: expand .5s ease-in-out;
}
